html {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}
.container {
  width: 1200%;
  height: 100vh;
  background-image: url("../img/background.png");
  animation: slide 40s linear infinite;
}
@keyframes slide {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 0 1000px;
  }
}
canvas {
  border: 10px solid rgb(16, 21, 1);
  border-radius: 3%;
}
div.splash {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h1,
h2,
h3,
h4 {
  font-family: "Open Sans", sans-serif;
  color: white;
}

h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin: 10px;
}

h2 {
  font-size: 3rem;
  text-transform: uppercase;
}

h3 {
  font-size: 2rem;
  text-shadow: 2px 2px rgb(16, 21, 1);
}

h4 {
  font-weight: 300;
  font-size: 1.8rem;
}

button {
  font-size: 3rem;
  color: black;
  background: yellow;
  padding: 20px;
  border-radius: 20px;
  border: 8px solid red;
  width: 300px;
  margin: 20px;
}

.visible {
  display: block;
}

.game {
  display: none;
}

.img-splash img {
  width: 300px;
  margin: 20px;
}

.header-score {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.logo {
  width: 300px;
  padding-top: 20px;
}

.logo img {
  width: 200px;
}
.lives {
  padding: 20px 20px 20px 20px;
  width: 375px;
}
.lives ul {
  list-style-type: none;
  overflow: hidden;
}
.lives li {
  float: left;
  width: 75px;
}
.lives img {
  width: 75px;
}
.live-out {
  filter: grayscale(100%);
}
.score {
  width: 200px;
  padding: 20px 20px 20px 20px;
}

.time {
  width: 200px;
  padding: 20px 20px 20px 20px;
}
.text-time,
.text-score {
  margin-top: 20px;
  font-size: 3.5rem;
  text-shadow: 2px 2px rgb(16, 21, 1);
}
.game-controls {
  display: block;
  width: 100%;
  height: 80px;
  margin: 0;
  padding: 0;
  background-color: gray;
}
ul.left-controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
  color: white;
  list-style-type: none;
  display: inline-block;
}
ol,
ul {
  list-style: none;
}

ul.left-controls > li {
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
}
.controls-label {
  width: 80px;
  height: 9px;
  background: url(../img/controls-label.png) no-repeat;
}
.left-label {
  display: inline-block;
  width: 13px;
  height: 11px;
  background: url(../img/left-label.png) no-repeat;
}
.right-label {
  display: inline-block;
  width: 12px;
  height: 11px;
  background: url(../img/right-label.png) no-repeat;
}
.space-label {
  display: inline-block;
  width: 64px;
  height: 18px;
  background: url(../img/space-label.png) no-repeat;
}
ul.right-controls {
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
}
.pause-button {
  width: 121px;
  height: 52px;
  display: inline-block;
  background: url(../img/pause-button.png) no-repeat;
}
.mute-button {
  width: 121px;
  height: 52px;
  display: inline-block;
  background: url(../img/mute-button.png) no-repeat;
}
.reset-button {
  width: 121px;
  height: 52px;
  display: inline-block;
  background: url(../img/reset-button.png) no-repeat;
}
